  /* ESTILOS PARA INDEX*/
.pagina-principal{ 
    background-color: #fce1de; 
    color: #090909;              /* Color del texto */
    font-family: 'Segoe UI', serif;
}

.navegador {
  padding: 10px 0;  /* Espacio arriba y abajo dentro del menú */
}


.navegador ul {
  list-style: none; /* Quita los puntos (viñetas) de la lista */
  margin: 0;
  padding: 0;
  display: flex; /* Convierte los elementos <li>en una fila horizontal */
  justify-content: center; /* Centra esa fila en la página. */
}

.navegador li {
  margin: 0 15px; /* Espacio horizontal entre los elementos <li> */
}

.navegador a {
  color: #080808;
  padding: 10px 20px;  /* Espacio interno para agrandar los botones */
  font-weight: bold;   /* Letras en negrita */
}

.navegador a:hover { /* Efecto para el mause*/
  background-color: #a36edb; /* Cambia el fondo del botón al pasar el mouse */
  border-radius: 8px;  /* Redondea los bordes del botón */
}
/* Imagen con borde y centrada */
  .imagen-foto{
    border: 5px solid #3f413f;
    border-radius: 10px;/* coloca los bordes de la imagen de forma redonda*/
    display: block;  /* Hace que la imagen se comporte como bloque */
    margin: 20px auto;  /*  la centra horizontalmente */
  }
  /* Línea del pie de página */
  .hr-piedepagina{
    height: 1px;               /* Grosor de la línea */
    background-color: #cc1ad2; /* Color de la línea*/
    margin: 8px 2px;            /* Espaciado arriba y abajo */
  }
/* color de fondo pie de pagina */
  .piedepagina{
    background-color: #c8a9e9; 
    color: #090909;    /* color d etexto */
    border:0;
  padding:30px;
  margin: 0;
  }

 /* estilo personalizado a todos los titulo h1 de la pagina */
h1{
  background-color:  #c8a9e9;
  color: purple;/* color d etexto */
  text-align: center;
  border:0;
  padding:30px;
  margin: 0;
  font-size: 50px;
}
  /* estilo de la tabla */
  table {
    border-collapse: collapse; /* Une los bordes de celdas */
    margin: 10px auto; /* Centra la tabla */
  }
  
  th {      /*encabezado */
    border: 2px solid #8e24aa; /* color de borde */
    padding: 10px;             /* Espacio interno entre el contenido y el borde*/
    text-align: center;  /* Centra el texto de latabla*/
  }

  td{  /* Datos*/
    border: 2px solid #8e24aa; /* color de borde */
    padding: 10px;             /* Espacio interno entre el contenido y el borde*/
    text-align: center;  /* Centra el texto de latabla*/
  }
  
  thead {
    background-color: #c8a9e9; /* Fondo para el encabezado */
  }
  .borde-video{
    border: 4px solid #3f413f;
    border-radius: 10px;  
  }
.borde-audio{
  border: 4px solid #3f413f;
  border-radius: 30px; 
}
.video-youtube{
  border: 4px solid #3f413f;
  border-radius: 10px; 
}

 /*ESTILOS PARA CONTAC*/
 .pagina-contact{
  background: linear-gradient(to right, #d3ced6, #fce1de);
  color: #090909;/* Color del texto */
  font-family: 'Segoe UI', serif; /* tipo de letra*/
 }
 .contacto{
  background-color:  #bea9d5;
  color: rgb(136, 69, 203);
  border:0; /* linea que rodea al elemento*/
  padding:30px; /* espacio interno entre el contenido y el borde */
  margin: 0; /* es la distancia que hay del borde hacia afuera*/
  font-size: 50px; /* tamaño de fuente*/
 }

 /*ESTILOS PARA HABILIDADES*/
 .pagina-habilidades{
  background: linear-gradient(to right, #a18aaf, #fce1de);
  font-family: 'Segoe UI', serif;
 }
 .habilidades{
  background-color:  #bea9d5;
  color: rgb(115, 62, 169);
  border:0;
  padding:30px;
  margin: 0;
  font-size: 50px;
  text-align: center;
 }
 .contenedor-bloques {
  display: flex;             /* Coloca los bloques en fila */
  justify-content: center;   /* Centra los bloques */
  gap: 40px;                 /* Espacio entre ellos */
  flex-wrap: wrap;           /* Para que bajen si no caben en pantallas pequeñas */
}
.bloque {
  background-color: #f2e6ff;  /* Color de fondo de cada bloque */
  padding: 10px;
  border: 2px solid #a36edb;  /* coloca borde de 2px */
  border-radius: 12px;  /* redondea el borde*/
  width: 400px;               /* Ancho del bloque */
}

.habilidades h2 {
  margin-bottom: 30px; /* Crea espacio debajo del titulo  h2 */
}